* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cells {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cell,
.cell--active {
  display: flex;
  width: 30%;
  margin: 3% 0;
  list-style: none;
  cursor: pointer;
}

.cell img {
  max-width: 90%;
  max-height: 90%;
  margin: 0 auto;
}

.cell--active {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
}

.cell--active img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}