* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

ul li {
  display: flex;
  width: 30%;
  margin: 3% 0
}

ul li img {
  width: 90%;
}